<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myz.dao.RoleMapper">

    <resultMap id="dynamicRole" type="com.myz.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="description" property="description"/>
        <collection property="users" column="role_id"
                    select="com.myz.dao.UserDao.selectAllByRoleId"/>
    </resultMap>

    <!--
        <if test="">:条件符合就执行，不符合就跳过
        注意'and'的位置，最好在前面
    -->
    <select id="getRoleDynamic" resultMap="dynamicRole">
        select role_id, role_name, description from t_role
        <where>
            <if test="roleId != null and roleId > 2">
                role_id=#{roleId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name like CONCAT('%',#{roleName},'%')
            </if>
            <if test="description != null">
                and description like concat('%' , #{description} , '%')
            </if>
        </where>
    </select>

    <!--
        <choose>
            <when><otherwise>标签，满足其中一个条件即可
    -->
    <select id="getRoleDynamic1" resultMap="dynamicRole">
        SELECT role_id , role_name ,description
        FROM t_role
        <where>
            <choose>
                <when test="roleId > 2">
                    role_id=#{roleId}
                </when>
                <when test="roleName != null">
                    role_name LIKE CONCAT('%' , #{roleName}, '%')
                </when>
                <otherwise>
                    description LIKE CONCAT('%' , #{description}, '%')
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
        <set>标签会自动滤去最后多余的","
    -->
    <update id="updateDynamic">
        UPDATE t_role
        <set>
            <if test="roleName != null">
                role_name=#{roleName},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        <where>
            <if test="roleId != null">
                role_id = #{roleId}
            </if>
        </where>
        ;
    </update>

    <!--
        <foreach>
            collection="list"，当参数是List时
            item="",表示list中的每个元素，可以通过#{item.prop}访问属性
            separator=",",分隔符
            index="",遍历list或array时，表示下标；map时，index表示key，item表示value
    -->
    <insert id="insertDynamic">
        INSERT INTO t_role (role_name, description)
        VALUES
        <foreach collection="list" separator="," item="role">
            (#{role.roleName}, #{role.description})
        </foreach>
        ;
    </insert>

    <!--　指定区间条件查询　-->
    <select id="selectDynamicByIds" resultMap="dynamicRole">
        SELECT role_id , role_name, role_name , description
        FROM t_role
        <where>
            role_id IN
            <foreach collection="list" separator="," item="ids" open="(" close=")">
                #{ids}
            </foreach>
        </where>
    </select>
</mapper>