<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--　注册自定义插件　-->
    <plugins>
        <plugin interceptor="com.myz.plugin.MyPlugin1" >
            <!--　property属性会传入插件setProperties中 -->
            <property name="username1" value="myz1"/>
            <property name="password1" value="hahaha1"/>
        </plugin>
        <plugin interceptor="com.myz.plugin.MyPlugin2" >
            <!--　property属性会传入插件setProperties中 -->
            <property name="username2" value="myz2"/>
            <property name="password2" value="hahaha2"/>
        </plugin>
        <plugin interceptor="com.myz.plugin.MyPlugin3" >
            <!--　property属性会传入插件setProperties中 -->
            <property name="username2" value="myz2"/>
            <property name="password2" value="hahaha2"/>
        </plugin>

        <plugin interceptor="com.myz.plugin.DynamicPlugin"/>
    </plugins>


</configuration>